<div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a class="" href="{% url 'index' %}">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-sitemap"></i>
                <span>Vendor Management</span>
            </a>
            <ul class="sub">
                <li><a class="pl-2 pb-3 pt-0"  href="{% url 'vendorsignup' %}">Create Vendor</a></li>
                <li><a id="" class="pl-2 pb-3 pt-0"  href="{% url 'viewvendor' %}">View Vendor List</a></li>
                <li><a id="" class="pl-2 pb-3 pt-0"  href="{% url 'subscription' %}">Package Subscription List</a></li>
                <li><a id="" class="pl-2 pb-3 pt-0"  href="{% url 'smssubscription' %}">SMS Subscription List</a></li>
                <li><a id="" class="pl-2 pb-3 pt-0"  href="{% url 'smscreditrecharge' %}">SMS Recharge Invoices</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-sitemap"></i>
                <span>Staff Management</span>
            </a>
            <ul class="sub">
                <li><a class="pl-2 pb-3 pt-0"  href="{% url 'staffsignup' %}">Create Staff</a></li>
                <li><a class="pl-2 pb-3 pt-0"  href="{% url 'viewstaff' %}">View Staff List</a></li>
                <li><a class="pl-2 pb-3 pt-0"  href="{% url 'viewstaff' %}">Activity History</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-sitemap"></i>
                <span>Member Management</span>
            </a>
            <ul class="sub">
                <li><a class="pl-2 pb-3 pt-0" href="{% url 'membersignup' %}">Create Member</a></li>
                <li><a class="pl-2 pb-3 pt-0" href="{% url 'viewmember' %}">View Member List</a></li>
                <li><a class="pl-2 pb-3 pt-0" href="{% url 'rechargehistory' %}">Recharge History</a></li>
                <li><a id="ViewVendor" class="pl-2 pb-3 pt-0"  href="{% url 'transaction' %}">Transection History</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-sitemap"></i>
                <span>System Setting</span>
            </a>
            <ul class="sub">
                <li class="sub-menu">
                    <a class="pl-2 pb-3 pt-0" href="{% url 'createpackages' %}">Create Packages</a>
                </li>
                <li>
                    <a class="pl-2 pb-3 pt-0" href="{%  url 'viewpackages' %}">View Packages</a>
                </li>
            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-book"></i>
                <span>Support</span>
                <span class="dcjq-icon"></span></a>
            <ul class="sub" style="display: none;">
                <li><a href="{% url 'viewtutorial' %}">View Ticket</a></li>
                <li><a href="{% url 'addtutorial' %}">Add Ticket</a></li>
            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-book"></i>
                <span>Tutorials</span>
                <span class="dcjq-icon"></span></a>
            <ul class="sub" style="display: none;">
                <li><a href="{% url 'AddTutorial' %}">Add Tutorial</a></li>
                <li><a href="{% url 'AddTutorialType' %}">Tutorial Type</a></li>
                <li><a href="{% url 'ShowVendorTutorial' %}">Vendor Tutorial</a></li>
                <li><a href="{% url 'ShowCustomerTutorial' %}">Customer Tutorial</a></li>
            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-book"></i>
                <span>Subscription Package</span>
                <span class="dcjq-icon"></span></a>
            <ul class="sub" style="display: none;">
                <li><a href='{% url 'createpackages' %}' >Create Subscription Package</a></li>
                <li><a href='{% url 'viewpackages' %}' >View Subscription Packages</a></li>
            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-book"></i>
                <span>SMS Packages</span>
                <span class="dcjq-icon"></span></a>
            <ul class="sub" style="display: none;">
                <li><a href='{% url 'createsmspackages' %}' >Create SMS Package</a></li>
                <li><a href='{% url 'viewsmspackages' %}' >View SMS Packages</a></li>

            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-book"></i>
                <span>Categories</span>
                <span class="dcjq-icon"></span></a>
            <ul class="sub" style="display: none;">
                <li><a href='{% url 'createcategories'%}' >Create Categories</a></li>
                <li><a href='{% url 'viewcategories' %}'>View Categories</a></li>
                <li><a href='{% url 'createsubcategories'%}' >Create Sub-Categories</a></li>
                <li><a href='{% url 'viewsubcategories' %}'>View Sub-Categories</a></li>
            </ul>
        </li>

        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-book"></i>
                <span>Items</span>
                <span class="dcjq-icon"></span></a>
            <ul class="sub" style="display: none;">
                <li><a href='{% url 'additems'%}' >Add Items</a></li>
                <li><a href='{% url 'viewitems'%}' >View Items</a></li>

            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-sitemap"></i>
                <span>Table/Menu Setting</span>
            </a>
            <ul class="sub">
                <li class="sub-menu">
                    <a class="pl-2 pb-3 pt-0" href="{% url 'loadcreatetable' %}">Create Table</a>
                </li>
                <li class="sub-menu">
                    <a class="pl-2 pb-3 pt-0" href="{% url 'loadtablesdata' %}">View Table</a>
                </li>
                <li class="sub-menu">
                    <a class="pl-2 pb-3 pt-0" href="{% url 'booktables' %}">Book Table</a>
                </li>
                <li class="sub-menu">
                    <a class="pl-2 pb-3 pt-0" href="{% url 'viewmenu' %}">View Menu</a>
                </li>
            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-sitemap"></i>
                <span>Messaging</span>
                <span class="dcjq-icon"></span></a>
            <ul class="sub" style="display: block;">
                {#                <li><a href="javascript:;">Menu Item 1</a></li>#}
                <li class="sub-menu dcjq-parent-li">
                    <a href="boxed_page.html" class="dcjq-parent">Groups</a>
                    <ul class="sub" style="">
                        <li><a href='{% url 'creategroup' %}'>Create Group</a></li>
                        <li><a href='{% url 'create_email' %}'>View Group</a></li>
                    </ul>
                </li>
                <li class="sub-menu dcjq-parent-li">
                    <a href="boxed_page.html" class="dcjq-parent">Broadcast</a>
                    <ul class="sub" style="">
                        <li><a href='{% url 'create_sms' %}'>SMS</a></li>
                        <li><a href='{% url 'create_email' %}'>Email</a></li>
                    </ul>
                </li>
                <li class="sub-menu dcjq-parent-li">
                    <a href="boxed_page.html" class="dcjq-parent">Event</a>
                    <ul class="sub" style="">
                        <li><a href='{% url 'create_event_sms' %}'>SMS</a></li>
                        <li><a href='{% url 'create_event_email' %}'>Email</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-sitemap"></i>
                <span>Discount</span>
            </a>
            <ul class="sub">
                <li><a class="pl-2 pb-3 pt-0" href="{% url 'loadvendorcreatediscount' %}">Create Discount</a></li>
                <li><a class="pl-2 pb-3 pt-0" href="{% url 'vendorviewdiscounts' %}">View/Update Discount</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-sitemap"></i>
                <span>Setting</span>
            </a>
            <ul class="sub">
                <li><a class="pl-2 pb-3 pt-0" href="{% url 'sms_setup' %}">SMS Setup</a></li>
                <li><a class="pl-2 pb-3 pt-0" href="{% url 'google_Setup' %}">Google Setup</a></li>
                <li><a class="pl-2 pb-3 pt-0" href="{% url 'paypal' %}">Paypal Setup</a></li>
                <li><a class="pl-2 pb-3 pt-0" href="{% url 'strip' %}">Strip Setup</a></li>
                <li><a class="pl-2 pb-3 pt-0" href="{% url 'payment' %}">Bank Setup</a></li>
            </ul>
        </li>
        <li>
            <a class="" href="{% url 'Showdbbackup' %}">
                <i class="fa fa-save"></i>
                <span>DB Backup</span>
            </a>
        </li>
    </ul>
    <!-- sidebar menu end-->
</div>